/* ========================================== */
/* Scroll Bar
*/
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eee;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100,100,100,0.4); 
}